<div class="activity-table">
   <table> 
        <tr>
            <th width="250">Activity</th>
            <th>Student Name</th>
            <th>Grade(AI)</th>
            <th>Feedback(Ai)</th>
            <th>Action</th>
        </tr>

{{#activity}}
        <tr class="all-to-review-list" >


            <td>
                <h5>{{&course_name}}</h5>
                <p>{{&name}}</p>
            </td>
            <td>{{studentname}}</td>
            <td>{{grade}}</td>
            <td >
                <div class="d-inline-block pending" style="position: relative;" >
                    <span class="d-block font-13 clickable-feedback" style="cursor: pointer;" >
        {{&feedback}}
    </span>

                    <div class="feedback-box">
{{&feedbackdesc}}
</div>
                </div>
            </td>
            <td >
                <div class="d-inline-block action" >
                    <!--<span class="desktop-none mb-2  mobile-block font-14 black-light-color">Action</span>-->
                    <a href={{&gradeurl}} class="d-flex align-items-center w-100 " >
                        <span class="d-block font-12 text-right accent-blue font-w-600" >Review 

                                    </span>
                        <i class="fa fa-angle-right ml-1 d-inline-block font-13 font-weignt-bolder" style="color: #006fcb !important;"></i>
                    </a>
                </div>
            </td>
        </tr>
{{/activity}}
		
    </table>
</div>

{{#js}}

    require(['block_vlearn_reviews/reviewslist'], function(reviewslist) {
    reviewslist.reviews();
    });
{{/js}}