<div class="table-responsive">
   <table class="table">
      <thead class="thead">
         <tr style="white-space: nowrap">
            <th scope="col" >Activity Details</th>
            <th scope="col" >Due Date</th>
            {{! <th scope="col" >Extended Date </th> }}
            <th scope="col" >Submissions</th>
            <th scope="col" >Pending review</th>
         </tr>
      </thead>
      <tbody>
         <tr style="white-space: nowrap">
            <td class="font-weight-bold text-dark">{{&name}}</td>
            <td>
               <div class="d-flex border rounded-lg p-2" style="width: 140px">
                  <img src="{{pixurl}}pix/timer.svg" alt="timer" width=""  class="d-inline-block mr-1" />
                  <div class="d-flex-inline">
                     <div class="font-weight-bold">{{gradingduedate}}<br>
                        <span class="font-weight-normal" style="white-space: nowrap">at {{gradingduetime}} hours</span>
                     </div>
                  </div>
               </div>
            </td>
            <td>{{submit}}</td>
            <td>{{review}}</td>
         </tr>
      </tbody>
   </table>
</div>